HJ.Modules.Customers/Service References/CustomerServiceRefernce/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50759/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:TrackableCollectionOfDeviceBz2xAG7V" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:TrackableCollectionOfInvoiceBz2xAG7V" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="TrackableCollectionOfDeviceBz2xAG7V">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Device" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfDeviceBz2xAG7V" nillable="true" type="tns:TrackableCollectionOfDeviceBz2xAG7V" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContractTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMEI" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice" nillable="true" type="tns:Invoice" />
      <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SimNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SimProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoiceNumber" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:TrackableCollectionOfDeviceBz2xAG7V" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPaid" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:TrackableCollectionOfDeviceBz2xAG7V" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:TrackableCollectionOfInvoiceBz2xAG7V" />
      <xs:element minOccurs="0" name="OrderCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderCreator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderLines" nillable="true" type="tns:TrackableCollectionOfOrderLineBz2xAG7V" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="TrackableCollectionOfInvoiceBz2xAG7V">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Invoice" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfInvoiceBz2xAG7V" nillable="true" type="tns:TrackableCollectionOfInvoiceBz2xAG7V" />
  <xs:complexType name="TrackableCollectionOfOrderLineBz2xAG7V">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrderLine" Namespace="http://schemas.datacontract.org/2004/07/HJ.Infrastructue.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLine" nillable="true" type="tns:OrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfOrderLineBz2xAG7V" nillable="true" type="tns:TrackableCollectionOfOrderLineBz2xAG7V" />
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceLineID" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UnitCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OrderLine" nillable="true" type="tns:OrderLine" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>